@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
    transition: 0.5s;
}

html {
    height: 500vw;
}

.divLogo {
    width: 70px;
    height: 70px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex2 {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1280px;
    margin: auto;
}

header {
    width: 100vw;
    background-color: red;
    padding: 2%;
    max-height: 180px;
    position: fixed;
    height: 180px;
    top: 0;
    left: 0;
    transition: .5s;
    border-bottom: 1px solid black;
    box-shadow: 0px 05px 15px 05px rgb(0, 0, 0);
}

header img {
    width: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

header img:hover {
    width: 55px;
}

header ul {
    list-style-type: none;
}

header ul div {
    display: inline-block;
    margin: 0 30px;
}

header ul div li a {
    color: aliceblue;
    text-decoration: none;
    transition: .5s;
    font-size: 1.5rem;
}

header ul div li a:hover {
    color: rgb(0, 20, 37);
    text-decoration: none;
    transition: .5s;
    font-size: 1.6rem;
}

header div nav ul div {
    width: auto;
    text-align: center;
}

header div nav ul div li,
header div a li {
    align-items: center;
    justify-content: center;
    display: flex;
}

header div img {
    transform: translate(-50%, -50%);
    margin-top: 50%;
    margin-left: 50%;
}

header.scrollh {
    padding: 1% 2%;
    z-index: 99999999;
    height: 140px;
}

.banner {
    max-width: 100%;
    height: 100vh;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h1 {
    color: rgb(0, 0, 0);
    animation: growShrink 2s linear infinite;
    text-shadow:
        /* -1px -1px 0 rgb(245, 94, 94), */
        /* 1px -1px 0 rgb(245, 94, 94), */
        /* -1px 1px 0 rgb(245, 94, 94), */
        1px 1px 0 rgb(245, 94, 94);
}

@keyframes growShrink {
    0% {
        transform: scale(2.25);
        /* Tamanho original */
    }

    50% {
        transform: scale(2.5);
        /* Aumenta o tamanho em 50% */
    }

    100% {
        transform: scale(2.25);
        /* Volta ao tamanho original */
    }
}